html {
    font-family: sans-serif;
  }
  
  body {
    /* background-image: url(images/blur_Inazuma_City.jpg); */
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    /* background-image: url(images/CleanShot\ 2022-01-14\ at\ 16.34.48@2x.png); */
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh; 
    width: 100vw
  }
  
  element.style {
    height: 100vh;
    padding: 0;
  }
  
  .heading1 {
    font-size: 300%;
    text-align: center;
    color: black;
    font-weight: bold;
    margin-bottom: 300px;
  }


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
    display:inline;
    float:left;
}
   
a {
    display:block;
    width:65px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 10;
  overflow: hidden;
  /* border-radius: 20px; */
  /* background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%); */
  
}
li {
  float: left;
}

li a {
  display: block;
  color: rgb(70, 70, 70);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #d5d3d3;
}
  

  .search-box {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    
}
.search-btn {
    color: #ede9e7;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    text-decoration: none;
    
}
.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0;
    width: 240px;
    padding: 0 6px;
}


footer{
  background: #f1f1f1;
  padding: 90px 0;
}
.footer-container{
  max-width: 1300px;
  margin: auto;
  padding: 0 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.pf_photo{
  width: 180px;
  border-radius:200px;
  box-shadow: 5px 5px 5px hsl(0, 0%, 53%);
  margin-bottom: 30px;
}

.right h1, 
.acknow h1{
  font-size: 26px;
}

.acknow {
  font-size: 18px;
  color:#2f3640;

}

.acknow-text {
  line-height: 0.1px;
  margin-top: 5px;
}
.border{
  width: 100px;
  height: 4px;
  background: #2f3640;
}

.copyright {
  font-size: small;
}

.email{
  padding: 10px 30px;
  font-size: 16px;
  color: #f1f1f1;
  background: #2f3640;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  margin-top: 15px;
  cursor: pointer;
  transition: opacity .3s linear;
  text-decoration: none;
  width: auto;
  margin-bottom: 20px;
}
.email:hover{
  opacity: .7;
}

.rickastley{
  display: none;
}
.never-gonna-give-you-up{
  display:block !important;
}
