html {
  font-family: sans-serif;
}

body {
  background-image: url(/images/blur_Inazuma_City.png);
  background-size: cover;
}

h1 {
  font-size: 300%;
  text-align: center;
  color: rgb(255, 255, 255);
}

table {
  border-collapse: collapse;
  position:absolute;
  top:40%;
  left:27%;
  border: 2px solid rgb(255, 255, 255);
  letter-spacing: 1px;
  font-size: 1rem;
}

td,
th {
  padding: 10px 20px;
}

thead {
  font-weight: bold;
  color: white;
}

th {
  background-color: rgb(255, 255, 255);
}

td {
  text-align: center;
  color: white;
}

caption {
  padding: 10px;
}
/* 

.strikeout {
  line-height: 1em;
  position: relative;
}
.strikeout::after {
  border-bottom: 0.125em solid black;
  content: "";
  left: 0;
  margin-top: calc(0.125em / 2 * -1);
  position: absolute;
  right: 0;
  top: 50%;
} */


.pf_photo {
  position: absolute;
  top: 350px;
  left: 400px;
  border-radius:200px;
}

.splitLine {
  height: 1px;
  width: 500px;
  border-top: 10x solid #e5e5e5;
}
 

.cr {
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 400px;
  color:white;
  font-size: large;
  font-weight: bold;
}



.chart114514 {
  text-align: center;
  font-size: small;
  color: gray;
  position:absolute;
  top:50%;
  left:45%;
}

.links {
  position: absolute;
  top: 45%;
  left: 60%;
  right: 0;
  bottom: 0;
  display:flex;
  flex-direction: column;
}

.blur {    
     -moz-filter: blur(10px);
      -ms-filter: blur(10px);    
          filter: blur(10px);    
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
    display:inline;
    float:left;
}
   
a {
    display:block;
    width:65px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 10;
  overflow: hidden;
  border-radius: 20px;
  background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
  
}
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #ff8100;
}


.description {
  border-width: 960px;
  outline: 0.5rem solid;
  border-radius: 15px;
  font: bold 1rem sans-serif; 
  margin: 3rem;
  padding: 1rem;
  outline-offset: 0.5rem;
  text-align: center;
  color: rgb(255, 255, 255);
  z-index: 10;
}

.paimon {
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 10px;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  color: black;
  border-radius: 10px;
  background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
  background-blend-mode: screen;  
  text-align: center;
}
