html {
  font-family: sans-serif;
}

body {
  /* background-image: url(images/blur_Inazuma_City.jpg); */
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  background-size: cover;
  margin: 0px;
  height: 100vh; 
  width: 100vw;
}

element.style {
  height: 100vh;
  padding: 0;
}

.blog-heading {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 280%;
  text-align: center;
  color: black;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}



table {
  border-collapse: collapse;
  position:absolute;
  top:40%;
  left:27%;
  border: 2px solid black;
  letter-spacing: 1px;
  font-size: 1rem;
}

td,
th {
  padding: 10px 20px;
}

thead {
  font-weight: bold;
  color: black;
}

th {
  background-color: black(255, 255, 255);
}

td {
  text-align: center;
  color: black;
}

caption {
  padding: 10px;
}
/* 

.strikeout {
  line-height: 1em;
  position: relative;
}
.strikeout::after {
  border-bottom: 0.125em solid black;
  content: "";
  left: 0;
  margin-top: calc(0.125em / 2 * -1);
  position: absolute;
  right: 0;
  top: 50%;
} */



.splitLine {
  height: 1px;
  width: 500px;
  border-top: 10x solid #e5e5e5;
}
 

.cr {
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 400px;
  color:black;
  font-size: large;
  font-weight: bold;
}



.chart114514 {
  text-align: center;
  font-size: small;
  color: gray;
  position:absolute;
  top:50%;
  left:45%;
}


.blur {    
     -moz-filter: blur(10px);
      -ms-filter: blur(10px);    
          filter: blur(10px);    
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
    display:inline;
    float:left;
}
   
a {
  display:block; 
  width: 65px;
  color: grey;
}

.blog-a {
  color: black;
  width: auto;
  text-decoration: none;
}


.blog1-a {
  color: gray;
  width: auto;
  text-decoration: none;
  margin-top: 15px;
}

.blog-a:hover {
  color: #434343;
  width: auto;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 10;
  overflow: hidden;
  /* border-radius: 20px; */
  /* background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%); */
  
}
li {
  float: left;
}

li a {
  display: block;
  color: rgb(70, 70, 70);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #d5d3d3;
}


.description {
  border-width: 960px;
  outline: 0.5rem solid;
  border-radius: 15px;
  font: bold 1rem sans-serif; 
  margin: 10rem;
  padding: 1rem;
  outline-offset: 0.5rem;
  text-align: center;
  color: black;
}

.paimon {
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 10px;
}

.blog-content {
  font-size: 20px;
  margin: 3rem;
  padding: 1rem;
  outline-offset: 0.5rem;
  font-family: 'Times New Roman', Times, serif;
  color: black;
  line-height: 30px;
}

.h1-left {
  font-size: 300%;
  font-weight: bolder;
  text-align: center;
  /* margin-left: 20px; */
  color: black;
}
.h1-left1 {
  font-size: 200%;
  text-align: left;
  font-weight: bold;
  /* margin-left: 20px; */
  color: black;
}

.links {
  position: absolute;
  top: 92%;
  left: 10%;
  right: 10%;
  bottom: 0;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  z-index: 10;
}

.content-junior {
  /* margin-left: 30px; */
  margin-top: -20px;
  line-height: 40px;
}

.self-journey-content {
  display: flex;
  flex-direction: column;
}


.anotherh1 {
  display: flex;
  flex-direction: column;
  font-size: 300%;
  font-weight: bold;


  color: black;
}
/* .self-journey {
  margin-left: 50px;
} */
.software-using {
  /* margin-left: 80px; */
  margin-top: 30px;
  text-align: center;
}
.recommendation {
  margin-top: 80px;
  margin-bottom: 25px;
  text-align: center;
}

.sites {
  text-align: center;
}
.video-page-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.email {
  padding: 8px 12px;
  text-align: center;
  border: 3px solid gray;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: black; 
  text-decoration: none;
  font-weight: bold;
  display: inline-block;  
}


.blog-table {
  border-collapse: collapse;
  position:absolute;
  top:40%;
  left:40%;
  border: 2px solid black;
  letter-spacing: 1px;
  font-size: 1rem;
}


footer{
  background: #f1f1f1;
  padding: 90px 0;
}
.footer-container{
  max-width: 1300px;
  margin: auto;
  padding: 0 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.pf_photo{
  width: 180px;
  border-radius:200px;
  box-shadow: 5px 5px 5px hsl(0, 0%, 53%);
  margin-bottom: 30px;
}

.right h1, 
.acknow h1{
  font-size: 26px;
}

.acknow {
  font-size: 18px;
  color:#2f3640;

}

.acknow-text {
  line-height: 0.1px;
  margin-top: 5px;
}
.border{
  width: 100px;
  height: 4px;
  background: #2f3640;
}

.copyright {
  font-size: small;
}

.email{
  padding: 10px 30px;
  font-size: 16px;
  color: #f1f1f1;
  background: #2f3640;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  margin-top: 15px;
  cursor: pointer;
  transition: opacity .3s linear;
  text-decoration: none;
  width: auto;
  margin-bottom: 20px;
}
.email:hover{
  opacity: .7;
}

.blog-list-bg {
  margin-top: 15px;
  background: white;
  padding: 20px 40px 40px;
  width: 800px;
  box-shadow: 3px 3px 3px hsl(0, 0%, 82%);
}

.blog-list {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.blog-list-heading {
  font-size: 25px;
  font-weight: bold;

}

.blog-description {
  font-size: 15px;
  color: grey;

}

.blog-list-bg:hover {
  color: #434343  
}